/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Piazzolla:wght@100&display=swap'); /* Piazzolla (primary) */
@import url('https://fonts.googleapis.com/css2?family=Jaldi&display=swap'); /* Jaldi (secondary) */

:root{
  --ff-primary: 'Piazzolla', serif;
  --ff-secondary: 'Jaldi', sans-serif;

  --clr-light: #fff;
  --clr-dark: #000;
  --clr-accent: teal;
  --clr-light-accent: grey;
}

/* Reset*/
/* *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: var(--clr-accent);
  text-decoration: unset;
}

h2 {
  text-transform: uppercase;
}

ul {
  margin-left: 1.5rem;
  list-style: none;
}

/* Topography */
/*h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
  margin: 1em 0;
} */





/*

.nav-btn {
  background-color: var(--clr-accent);
  color: var(--clr-light);
  text-transform: uppercase;
  font-family: var(--ff-primary);
  letter-spacing: 2px;
  cursor: pointer;
  padding: .2rem;
}

.nav-btn:hover {
  background-color: var(--clr-light-accent);
}

.nav-link {
  margin-right: 20px;
}

.userinfo-nav {
  display: flex;
  margin-right: 20px;
}

.fa-shopping-cart {
  color: teal;
}

.fa-shopping-cart:hover {
  color: var(--clr-light-accent);
} */

/* SHOPPING CART ICON SIZE */
/* .nav-icon {
  font-size: 1.5rem;
}

.cart-btn {
  position: relative;
  cursor: pointer;
}

.cart-items {
 position: absolute;
 top: -9px;
 right: -9px;
 background: var(--clr-light-accent);
 padding: 0 5px;
 border-radius: 30%;
 color: white;
}

.logo-img {
  width: 50px;
  height: auto;
}

.logo-title {
  font-family: var(--ff-primary);
  font-size: 45px;
  align-items: center;
} */
/*------------ END OF NAVBAR ------------ */



/*------------ SIDE BAR -----------------*/
/*

.sidebar {
  position: fixed;
  transform: translateX(-30rem);
  width: 20rem;
  background: var(--clr-light-accent);
  color: black;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;

  transition: transform 250ms cubiz cubic-bezier(.5, 0, .5, 1);
}

.sidebar-title {
  display: flex;
  justify-content: center;
  font-family: sans-serif;
  margin-top: 25px;
  text-transform: uppercase;
}

.sidebar-list {
  display: flex;
  list-style: none;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 45px;
  padding: 7px;
}

.sidebar-list li {
  margin-top: 10px;
}

.sidebar-list a {
  color: var(--clr-dark);
  text-decoration: none;
}

.sidebar-list a:hover {
  text-decoration: underline;
}

.sidebar.open {
  transform: translateX(0);
}

.sidebar-close-button {
  border-radius: 20%;
  border: 0.1rem var(--clr-dark) solid;
  width: 1.5rem;
  height: 1.5rem;
  padding: 0.4rem;
  font-size: 1.2rem;
  padding-top: 0;
  cursor: pointer;
  position: absolute;
  right: 0.5rem;
  top: 1.5rem;
} */
/*------------ END OF SIDE BAR -----------------*/





/* Image */
/* img {
  border-radius: 0.5rem;
}
img.small {
  max-width: 5rem;
  width: 100%;
}
img.medium {
  max-width: 29rem;
  width: 100%;
}
img.large {
  width: 100%;
} */

/* Card */
/* .card {
  border: 0.1rem var(--clr-light-accent) solid;
  border-radius: 0.5rem;
  margin: 1rem;
}
.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.price {
  font-size: 2rem;
}

/* RATING */
/*rating span {
  color: #f0c040;
  margin: 0.1rem;
}

.rating span:last-child {
  color: var(--clr-dark);
} */

/* CART */
/* .cart {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem;
  align-items: flex-start;
}

.cart-list {
  flex: 3 1 60rem;
}

.cart-action {
  flex: 1 1 20rem;
  background-color: lightgray;
  border-radius: 0.5rem;
  padding: 1rem;
}

.cart-list-container {
  padding: 0;
  padding: 1rem;
}

.cart-list-container li {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 0.1rem var(--clr-light-accent) solid;
}

.cart-list-container li img {
  max-width: 10rem;
  max-height: 10rem;
}

.cart-list-container li:first-child {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.cart-image {
  flex: 1 1;
}

.cart-name {
  flex: 8 1;
  margin-left: 30px;
  font-weight: bold;
}

.cart-price {
  flex: 1 1;
  font-size: 2.0rem;
  text-align: right;
} */

/* End of Cart */

/* Checkout Steps */
/* .checkout-steps > div {
  border-top: 0.3rem var(--clr-light-accent) solid;
  color: var(--clr-light-accent);
  flex: 1;
  padding: 1rem;
}

.checkout-steps > div.active {
  border-top-color: var(--clr-accent);
  color: var(--clr-accent);
} */


/*--------- FOOTER ------------*/

/* .footer {
  grid-area: footer;
  background-color: var(--clr-dark);
  color: var(--clr-light);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--ff-secondary);
  padding: 4rem;
} */

html {
  font-size: 62.5%; /* 16px x 62.5 = 10px = 1rem */
  box-sizing: border-box;
}
body {
  margin: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: var(--ff-secondary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
}

/* Layout */
.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 6rem 1fr 6rem;
  height: 100%;
}
header {
  grid-area: header;
  background-color: var(--clr-dark);
}
main {
  grid-area: main;
  /* padding: 1rem; */
}
footer {
  grid-area: footer;
  background-color: var(--clr-dark);
  color: var(--clr-light);
}

/* GENERAL */
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
  font-family: var(--ff-primary);
}
h2 {
  font-size: 2.5rem;
  padding: 1rem 0;
  font-family: var(--ff-primary);
}

a {
  text-decoration: none;
}
a:hover {
  color: var(--clr-accent);
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}

input {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: var(--ff-secondary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

select,
textarea,
button {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.9rem;
  font-family: var(--ff-secondary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
button {
  background-color: #f8f8f8;
  cursor: pointer;
}
input:hover,
select:hover,
textarea:hover,
button:hover {
  border: 0.1rem #404040 solid;
}

button.block {
  width: 100%;
}
button.small {
  font-size: 1.2rem;
}
/* Header */
header a {
  color: var(--clr-light);
  padding: 1rem;
}
a.brand {
  color: var(--clr-light);
  font-family: var(--ff-primary);
  font-size: 3rem;
  font-weight: bold;
}
.logo-img {
  width: 30px;
  height: auto;
}

.primary {
  background-color: var(--clr-accent);
}

 .open-sidebar {
  font-size: 3rem;
  padding: 0.5rem;
  margin: 0 0.5rem;
  background: none;
  border: none;
  color: var(--clr-accent);
  cursor: pointer;
}
.badge {
  background-color: #f02020;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.2rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.2rem;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.center {
  justify-content: center;
}
.row.top {
  align-items: flex-start;
}
.row.start {
  justify-content: flex-start;
}
.col-1 {
  flex: 1 1 25rem;
}
.col-2 {
  flex: 2 1 50rem;
}
.col-3 {
  flex: 32 1 75rem;
}
.min-30 {
  min-width: 30rem;
}
.p-1 {
  padding: 1rem;
}

/* HERO */
.hero {
  min-height: calc(100vh - 60px); /*100% of the view height minus 60px for the height of the navbar*/
  background: url("https://images.unsplash.com/photo-1549385692-a0c4045040b1?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.banner {
  text-align: center;
  background: var(--clr-light-accent);
  display: inline-block;
  padding: 2rem;
  opacity: 0.8;
}

.banner-title {
  font-size: 3.4rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin-bottom: 3rem;
}

.banner-btn {
  padding: 1rem 3rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 2rem;
  background: var(--clr-accent);
  color: var(--clr-light);
  border: 1px solid var(--clr-accent);
  transition: all 0.3s linear;
  cursor: pointer;
  text-decoration: none;
}

.banner-btn:hover {
  color: black;
  font-weight: bold;
}
/* END OF HERO */

/* HOME */
.section-title {
  margin-top: 30rem;
}

#products-center {
  margin-bottom: 25rem;
}
/* END OF HOME*/


/* SHOPPING CART ICON SIZE */
.fa-shopping-cart {
  color: teal;
}
.fa-shopping-cart:hover {
  color: var(--clr-light-accent);
}

/* Aside */
aside {
  position: fixed;
  width: 30rem;
  height: 100%;
  background-color: lightgray;
  z-index: 1000;
  transform: translateX(-30rem);
  transition: all 0.5s;
}
aside.open {
  transform: translateX(0);
}
aside ul {
  padding: 0;
  list-style: none;
}
aside li {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
button.close-sidebar {
  padding: 0.3rem 0.8rem;
}

/* Image */
img {
  border-radius: 0.5rem;
}
img.small {
  max-width: 5rem;
  width: 100%;
}
img.medium {
  max-width: 29rem;
  width: 100%;
}
img.large {
  width: 100%;
}

/* ---- PRODUCTS ----*/
.product-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-family: var(--ff-primary);
}

 .row.center {
  justify-content: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.row.top {
  align-items: flex-start;
}

.row.start {
  justify-content: flex-start;
}

.col-1 {
  flex: 1 1 25rem;
}
.col-2 {
  flex: 2 1 50rem;
}
.col-3 {
  flex: 32 1 75rem;
}
.min-30 {
  min-width: 30rem;
}
.p-1 {
  padding: 1rem;
}

.content-margined {
  margin: 1rem;
}

.table {
  width: 100%;
}

th {
  text-align: left;
}

tbody>tr:nth-child(odd) {
  background-color: lightgray;
}

.products {
  padding: 4rem 0;
}

.section-title h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 5rem;
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  font-family: var(--ff-primary);
}

.products-center {
  width: 90vw;
  margin: 0 auto;
}

.products-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.image-container {
  position: relative;
  overflow: hidden;
}

.product-image {
  display: block;
  width: 100%;
  max-width: 25rem;
  height: 25rem;
  transition: all 0.3s linear;
}

.image-container:hover .product-image {
  opacity: 0.5;
}

.products li {
  margin: 1rem;
  padding: 0;
  height: 35rem;
  border-bottom: .1rem var(--clr-light-accent) solid;
}

.product-name {
  font-size: 2rem;
  font-weight: bold;
  margin-top: 1rem;
}

.product-name a {
  color: var(--clr-accent);
}

.product-type {
  font-size: 1.0rem;
  font-weight: bold;
  margin-top:0.7rem;
}

.product-price {
  font-size: 1.7rem;
  font-weight: bold;
  color: var(--clr-light-accent);
  margin-top: 0.7rem;
}

.product-rating {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

/* END OF PRODUCTS */



/*---- PRODUCT DETAILS ----*/
.details {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 1rem;
}

.details-image {
  flex: 2 1 60rem;
}

.details-image img {
  max-width: 60rem;
  width: 100%;
}

.details-info {
  flex: 1 1 30rem;
}

.details-action {
  flex: 1 1 50rem;
}

.details-info ul, .details-action ul {
  list-style-type: none;
  padding: 0;
}
.details-info li, .details-action li {
 margin-bottom: 1rem;
}

.back-to-results {
  padding: 1rem;
}

.details-action {
  border: .1rem var(--clr-dark) solid;
  border-radius: 0.5rem;
  background-color: lightgray;
  padding: .2rem;
}

.details-action ul li:last-child {
  display: flex;
  flex-direction: column;
}
/* END OF PRODUCT DETAILS */

/* FORMS */
.form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 32rem;
  padding: 2rem;
  border: .1rem var(--clr-light-accent) solid;
  border-radius: 0.5rem;
  margin-top: 5rem;
  margin-bottom: 3rem;
}

.form-container li {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.text-center {
  text-align: center;
}

input {
  padding: 1rem;
  border: .1rem var(--clr-light-accent) solid;
  border-radius: 0.5rem;
  background-color: lightgray;
}

.button {
  padding: 1rem;
  border: .1rem var(--clr-dark) solid;
  border-radius: .5rem;
  font-size: 1.9rem;
  cursor: pointer;
}

.button.primary {
  color: var(--clr-light);
  background-color: var(--clr-accent);
}

.button.secondary {
  color: var(--clr-dark);
  background-color: var(--clr-light);
}

.button.primary:hover {
  border: .1rem var(--clr-accent) solid;
  color: var(--clr-dark);
  background-color: var(--clr-light-accent);
}

.button.secondary:hover {
  color: var(--clr-accent);
}

/* Card */
.card {
  border: 0.1rem #c0c0c0 solid;
  background-color: var(--clr-light);
  border-radius: 0.5rem;
  margin: 1rem;
}
.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.price {
  font-size: 2rem;
}
/* Rating */
.rating span {
  color: #f0c040;
  margin: 0.1rem;
}
.rating span:last-child {
  color: #404040;
}
/* Alert */
.loading {
  display: block !important;
}
.success {
  color: #20a020;
}
.danger {
  color: #a02020;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}
.alert-success {
  color: #20a020;
  background-color: #eeffe0;
}

/* Dropdown */
.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1;
  background-color: #203040;
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}
/* Checkout Steps */
.checkout-steps > div {
  border-top: 0.5rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
  margin-right: 0.5rem;
}
.checkout-steps > div.active {
  border-top-color: var(--clr-accent);
  color: var(--clr-accent);
}
/* Table */
.table {
  width: 100%;
  border-collapse: collapse;
}
.table tbody tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}
.table td,
.table th {
  text-align: left;
  border: 0.1rem solid #e4e4e4;
  padding: 0.5rem;
}
.table button {
  margin: 0 0.2rem;
}
/* Carousel */
.carousel .slide img {
  max-width: 30rem;
}

/* Search */
.search button {
  border-radius: 0 0.5rem 0.5rem 0;
  border-right: none;
  margin-right: 0.5rem;
  font-size: 1.5rem;
}
.search input {
  border-radius: 0.5rem 0 0 0.5rem;
  border-right: none;
  margin-left: 0.5rem;
}
.active {
  font-weight: bold;
}

/* Map */
.full-container {
  margin: -1rem;
  height: calc(100% + 2rem);
}
.map-input-box {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0.5rem auto;
  width: 25rem;
  height: 4rem;
  display: flex;
}
.map-input-box input {
  border-radius: 1rem 0 0 1rem;
  border-right: 0;
}
.map-input-box button {
  border-radius: 0 1rem 1rem 0;
  border-left: 0;
}
/* Pagination */
.pagination a {
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
  border: 0.1rem #a4a4a4 solid;
  font-size: 1.6rem;
  font-family: Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.pagination a.active {
  font-weight: bold;
}